<h1>Laundry</h1>
<div>
  <%= link_to 'Edit Task', edit_task_path  %>
</div>
<div>
  <%= @task.details %>
  <%= @task.completed %>
</div>
<ul>
  <li><%= link_to 'Back to list', tasks_path  %></li>
</ul>
